---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">GPT </span>
    <span class="gpt-subtitle">AI</span>
  </div>
  <p mt-1 op-60>基于Google Gemini Pro API. <br> 请注意，此模型并未经过NCC-17039知识库的引导，因此他并不知道我站的相关信息</p>
</header>
